<% layout('/layouts/boilerplate') %>
<h3><%= resultId.title %></h3>
<a href="/?tag=<%= resultId.tag %>">#<%= resultId.tag %></a>
<p> <%= resultId.note %> </p>
<a href="/new">
    <button>New Note</button>
</a>

<a href="/">
    <button>Close</button>
</a>
<% if (resultId.isarchived === false) { %>
    <a href="/<%= resultId.id %>/edit">
        <button>Edit</button>
<% } else { %>
   
<% }  %>

    
</a>
<form action="/<%= resultId.id %>?_method=DELETE" method="post">
    <button>Delete</button>
</form>

    <% if (resultId.isarchived !== true) { %>
    <form action="archived/<%= resultId.id %>?_method=PATCH" method="post">
        <button>Archive</button>
    </form>
    <% } else if (resultId.isarchived !== false) { %>
    <form action="?_method=PATCH" method="post">
        <button>Unarchive</button>
    </form>
    <% } %>

<%- include ('./partials/list') %>